
body { 
    background-color: #c3faf0;
    color: rgb(41, 41, 49);
    background-image: linear-gradient(90deg, #7edac9 10%, #a2b0ee 70%);    
}

.intro {        
    padding: 50px;  
    background-color: #7edac9;
        }

.work {        
    padding: 50px;  
        }

.footer {
    padding: 50px;  
    background-color: #a2b0ee;
    font-family: "Quicksand", sans-serif;

}
        
.h1 {
 
    font-family: "Quicksand", sans-serif;
}
.h2 {

    font-family: "Quicksand", sans-serif;
}
.h3 {
 
    font-family: "Quicksand", sans-serif;
}
.h4 {
 
    font-family: "Quicksand", sans-serif;
}