
body { 
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%); );
}

.intro {        
    padding: 50px;  
        }

.work {        
    padding: 50px;  
        }

.footer {
    padding: 50px;  
    font-family: "Quicksand", sans-serif;

}

.tab {
 
    font-family: "Quicksand"; sans-serif;
}

.h1 {
 
    font-family: "Quicksand", sans-serif;
}
.h2 {

    font-family: "Quicksand", sans-serif;
}
.h3 {
 
    font-family: "Quicksand", sans-serif;
}
.h4 {
 
    font-family: "Quicksand", sans-serif;
}

.sketches {
 
    font-family: "Quicksand", sans-serif;
}

.dp {
 
    font-family: "Quicksand", sans-serif;
}

.illustration {
 
    font-family: "Quicksand", sans-serif;
}

.ui {
 
    font-family: "Quicksand", sans-serif;
}