
body { 
    background-color: #c3faf0;
    background-image: linear-gradient(90deg, #7edac9 10%, #a2b0ee 70%);    
}

.intro {        
    padding: 50px;  
        }

.work {        
    padding: 50px;  
        }

.footer {
    padding: 50px;  
}
        
.h1 {
 
    font-family: "Quicksand", sans-serif;
}
.h2 {

    font-family: "Quicksand", sans-serif;
}
.h3 {
 
    font-family: "Quicksand", sans-serif;
}